--- 
title: Foundation for sites 
---

<html class="no-js" lang="en" dir="ltr">

<head>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>




    <!-- First Row -->
    <div id=row1 class="container-fluid text-left">


       

        <div class="large-7 large-centered columns">
            <div id="id5" class="row">
            <div class="small-5 columns">
                <img class="img-responsive" src="img2.jpg">

            </div>
            <div class="small-7 columns">
               <div class="row"><h3>Red Panthers.Come join us</h3></div>
               <div class="row">Hello Come work with Red Panthers.Come join us
                   Hello Come work with Red Panthers.Come join us
               </div>
               <br>
               <div class="row"><a href="#" class="button">SUBSCRIBE</a><a id="id8" href="#" class="button">SUBSCRIBE</a></div>
            </div>

            </div>

        </div>
        


    </div>




    <!-- Second Row -->
    <div id="row8" class="container-fluid ">
       <div class="small-6 large-centered columns">
        <div id="row10" class="row text-center">
           <h3><b>Cool</b> features</h3>  
        </div>

        <div  class="row" >
            <div  class="large-3 columns" >
                <div class="container-fluid" id="row9">
                <div class="row text-center"><i id="icon1r2" class="step fi-address-book size-36"></i> </div>
                <div class="row text-center"><h5><b>ADDRESS</b></h5></div>
                <div class="row text-center">Hello Come work with Red Panthers.Come join us.</div>
                </div>
            </div>
            <div class="large-3 columns " >
                <div class="container-fluid" id="row9">
                <div class="row text-center"><i id="icon2r2" class="step fi-address-book size-36"></i> </div>
                <div class="row text-center"><h5><b>ADDRESS</b></h5></div>
                <div class="row text-center">Hello Come work with Red Panthers.Come join us.</div>
                </div>
            </div>
            <div class="large-3 columns " >
                <div class="container-fluid" id="row9">
                <div class="row text-center"><i id="icon3r2" class="step fi-address-book size-36"></i> </div>
                <div class="row text-center"><h5><b>ADDRESS</b></h5></div>
                <div class="row text-center">Hello Come work with Red Panthers.Come join us.</div>
                </div>
            </div>
            <div class="large-3 columns" >
                <div class="container-fluid" id="row9">
                <div class="row text-center"><i id="icon4r2" class="step fi-address-book size-36"></i> </div>
                <div class="row text-center"><h5><b>ADDRESS</b></h5></div>
                <div class="row text-center">Hello Come work with Red Panthers.Come join us.</div>
                </div>
            </div>
        </div>
</div>
    </div>
    


   
   
   
    <!-- Third Row -->
    <form>
       <div id="row7" class="container">
        <div id="row77" class="row">
            <div class="large-6 medium-6 columns">
                
                <h3><b>Stay updated</b> on the release</h3>
                <br>
                jdfgdgoehigegoiheqgegheogiheg egioheqg
            </div>

            <div class="large-6 medium-6 columns">
                            <div class="large-10 columns">
                                <input size="30" type="text" placeholder="Your name" class="input-group-field" />
                            </div>
                            <div class="large-2  columns text-left">
                                <a href="#" class="button">SUBSCRIBE</a>

                            </div>

                        </div>
        </div>
        </div>
    </form>




    


    <!-- Forth Row -->
    <div class="container-fluid text-center" id="row2">
        
            <div class="small-6 large-centered columns" id="contentofrow2">
               <div class="row"> <h3>Hello! Come work with <b>Red Panthers</b> </h3> </div>
                
                <div class="row"> <h3>Hello! Come work with <b>Red Panthers</b> </h3> </div>
            </div>
            <a href="#" class="button">Purchase Template</a>
    </div>








    <!-- Fifth Row -->
    <div class="container-fluid text-center" id="row3">
        <div class="row">
            <div class="small-6 large-centered columns" id="contentofrow2">
                <h2>Come work with <b>Red Panthers</b> </h2> WE SPECIALIZE IN HELPING OUR CLIENTS VALIDATE, BUILD AND EXPAND
                THEIR BUSINESS THROUGH TECHNOLOGY


                <br>
                <form>

                    <div id="row6" class="row">
                        <div class="large-6 medium-6 columns">

                            <input size="20" type="text" placeholder="Your name" class="input-group-field" />

                        </div>

                        <div class="large-6 medium-6 columns">
                            <div class="large-10 columns">
                                <input size="20" type="text" placeholder="Your name" class="input-group-field" />
                            </div>
                            <div class="large-2  columns text-left">
                                <a href="#" class="button">JOIN</a>

                            </div>

                        </div>
                    </div>
            </div>
        </div>
    </div>
    </form>





    <br>





    <!-- Sixth Row - pricing table -->
    <div class="large-8 large-centered columns">

        <div id="row4" class="row text-center">
            <h2>Pricing Tables</h2>
            <p>Different buying schemes are provided!</p>
        </div>
        <div class="row">
            <div class="column medium-4 ">

                <ul class="pricing-table no-bullet text-center">
                    <li class="title">Standard</li><br>
                    <li class="price">$99.99</li><br>
                    <li class="description">An awesome description</li><br>
                    <li>1 Database</li><br>
                    <li>5GB Storage</li><br>
                    <li>20 Users</li><br>
                    <li><a id="butt" class="button" href="#">Buy Now</a></li><br>
                </ul>

            </div>
            <div class="column medium-4">

                <ul class="pricing-table recommended no-bullet text-center">
                    <li class="best"><span>Recommended</span></li>
                    <li class="title">Standard</li><br>
                    <li class="price">$99.99</li><br>
                    <li class="description">An awesome description</li><br>
                    <li>1 Database</li><br>
                    <li>5GB Storage</li><br>
                    <li>20 Users</li><br>
                    <li><a class="button" href="#">Buy Now</a></li><br>
                </ul>

            </div>
            <div class="column medium-4 ">

                <ul class="pricing-table no-bullet text-center">
                    <li class="title">Standard</li><br>
                    <li class="price">$99.99</li><br>
                    <li class="description">An awesome description</li><br>
                    <li>1 Database</li><br>
                    <li>5GB Storage</li><br>
                    <li>20 Users</li><br>
                    <li>1 Database</li><br>
                    <li>5GB Storage</li><br>
                    <li>20 Users</li><br>
                    <li><a id="butt" class="button" href="#">Buy Now</a></li><br>
                </ul>

            </div>
        </div>
    </div>
    <br>






    <!-- Seventh Row - qoutes part -->
    <div class="container-fluid text-center" id="row5">
        <div class="row">
            <i class="step fi-quote size-100" item-width="30px"></i>
            <br>
            <div class="large-6 medium-6 columns">
                <p><em>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details
                on making them your own.</em></p>
                <div class="large-6 medium-6 columns">
                    <div class="row text-right">
                        <img class="img-circle" src="img1.png" width="150px" height="150px">
                    </div>
                </div>
                <div id="id2" class="large-6 medium-6 columns">
                    <div class="row text-left">
                        <b>CAROLIN STEPHENE</b>
                    </div>
                    <div class="row text-left">
                        sales manager
                    </div>
                </div>

            </div>

            <div class="large-6 medium-6 columns">
                <p><em>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details
                on making them your own.</em></p>
                <div class="large-6 medium-6 columns">
                    <div class="row text-right">
                        <img class="img-circle" src="img1.png" width="150px" height="150px">
                    </div>
                </div>
                <div id="id2" class="large-6 medium-6 columns">
                    <div class="row text-left">
                        <b>CAROLIN STEPHENE</b>
                    </div>
                    <div class="row text-left">
                        sales manager
                    </div>
                </div>

            </div>
            <div class="orbit text-center" role="region" aria-label="Favorite Space Pictures" data-orbit>

                <nav class="orbit-bullets">
                    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>

                </nav>
            </div>
        </div>
    </div>






    <!-- last row -->
    <div class="row text-left">
        <div id="lastrow" class="container-fluid">


            <div class="large-4 medium-3  columns">
                <h5>LOCATION</h5><br> 1263 Philaldaphia Avenue<br> Boston,MA,USA

            </div>

            <div class="large-4 medium-3 columns">

                <h5>LOCATION</h5><br> 1263 Philaldaphia Avenue<br> Boston,MA,USA
            </div>
            <div class="large-4 medium-3  columns end">

                <h5>LOCATION</h5><br> 1263 Philaldaphia Avenue<br> Boston,MA,USA
            </div>
        </div>
    </div>
    </div>









</body>

</html>